*{
	padding: 0;
	margin: 0 auto;
}


body {
	width: 100%;
}

.wrapper {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.fakedivbackgroundcolorlol{
	background-color: #f6f2f2;
	height:100%;
	padding-bottom: 5.5%;
	padding-top: 1%;
}

.contentbox{
	min-height: calc(100vh - 205px);
	width: 100%;
}


nav {
	display: flex;
	justify-content: center;
	width: 66%;
	min-width: 800px;
	margin-top:1%;
	background-color: #313030;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}


.button {
	text-align: center;
	line-height: 90px;
	margin: 0;
	width: 10%;
}

.button:hover {
	background-color: #ff3f40;
}

.button a { 
     text-decoration: none;
     color: #e0e0e0;
}

.info{
	width: 68%;
	margin-top: 46px;
	display: flex;
	flex-wrap: wrap;
}

.left {
	display: flex;
	flex-direction: column;
	margin-top: 45px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	max-width: 52%;
	min-width: 37%;
}

p {
	margin-top: 5px;
}

h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-size: 60px;
}

h2{
	margin: 0;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size: 42px;
}

h3{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 24px;
	margin: 3% 0;
}

hr{
	margin: 6% auto;
	width:50%;
}

.right {
	display: flex;
	min-width: 37%;
	max-width: 50%;
	text-align: right;
	padding-top: 60px;
}

.contactbutton {
	width:230px;
	height: 50px;
	background-color: #ff2d2d;
	text-align: center;
	line-height: 50px;
	font-weight: 700;
	color: white;
	margin: 0;
	margin-top: 10%;
}

.contactbutton:hover {
	background-color: #e42929;
}

.contactbutton a {
	color: white;
	text-decoration: none;
}

/* ВТОРОЙ ЭТАЖ */

.provide{
	width: 66%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top:5%;
	color: #333333;
}

.leftprovide{
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	max-width: 50%;
}	

.leftprovide h2{
	margin-bottom:5%;
}


.learnmorebutton {
	width:36%;
	height: 10%;
	text-align: center;
	line-height: 50px;
	font-weight: 700;
	color: #ff2d2d;
	margin: 0;
	margin-top: 15%;
	border: 2px solid #ff2d2d;
}

.learnmorebutton:hover {
	background-color: #dadada;
}

.learnmorebutton a {
	color: #ff2d2d;
	text-decoration: none;
}

.rightprovide {
	margin-left:1%;
	display: flex;
	flex-direction: column;
	min-width: 37%;
	max-width: 49%;
	text-align: left;
	padding-top: 1%;
}

.rightprovide img{
	margin-bottom:2%;
}

.firstrow{
	display: flex;
}

.secondrow{
	margin-top: 5%;
	display: flex;
}

.management{
	margin-right:7%;
}

.branding{
	margin-right:7%;
	margin-top:2%;
}

.animation{
	margin-top:2%;
}

.featuring{
	color: #333333;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.featuring hr{
	width:7%;
	background-color: #ff2d2d;
	color: #ff2d2d;
	height: 2px;
	border: none;
	margin: 1.5% auto;
}

.menufeat{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	width:100%;
	text-transform: uppercase;
	font-weight: 700;
	color: #4c4c4c;
	margin-top: 3.5%;
	text-align: center;
	margin-bottom: 2.7%; 
}

.menufeat a{
	text-decoration: none;
	color: #4c4c4c;
	margin: auto 1%;
}

.menufeat a:hover{
	text-decoration: none;
	color: #ff2d2d;
}

.featpictures{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.firstpicrow{
	display: flex;
	flex-wrap: wrap;
	margin-left: 17%;
}

.secondpicrow{
	display: flex;
	flex-wrap: wrap;
	margin-left: 17%;
}

.featpictures img{
	margin: 0.5% 0.5%;
	width: 24%;
}

.team{
	margin-top: 4%;
	margin-left:15.5%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333333;
}

.team p{
	margin-left:1%;
}

.team hr{
	margin-top: 2.7%;
	margin-left: 1%;
	width:8%;
	background-color: #ff2d2d;
	color: #ff2d2d;
	height: 2px;
	border: none;
}

.allaboutemployee{
	display: flex;
	margin-left: -1%;
	margin-top: -2%;
}

.infoemployee{
	display: flex;
	flex-direction: column;
	margin-left: 10%
	margin-bottom: 18%;
}

.textemployee{
		margin-left: 0;
}

.infoemployee a{
	text-decoration: none;
	color: #4c4c4c;
	margin: auto 1%;
	font-weight: 700;
	font-style: italic;
	font-size: 18px;
}

.photos{
	margin-top: 5%;
}

.photos img{
	width:17%;
}

.trapforusers{
	background-color: #f5f0dd;
	height:20%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color:white;
	text-align: center;
	margin-top: 5%;
}

.trapforusers h2{
	text-transform: none;
}


input.emailsub {
	width:27%;
	height: 8vh;
	background-color: #ffffff;
	text-align: left;
	line-height: 80px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	color: black;
	border: none;
}

button.trapbutton {
	width:10%;
	height: 8vh;
	background-color: #ff2d2d;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	line-height: 80px;
	font-weight: 700;
	font-size: 15px;
	color: white;
	border: none;
	margin-left: 3%;
	text-transform: uppercase;
}

.getintouch{
	margin-top: 4%;
	margin-left:15.5%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333333;
}
.getintouch hr{
	margin-top: 2.7%;
	margin-left: 0;
	width:8%;
	background-color: #ff2d2d;
	color: #ff2d2d;
	height: 2px;
	border: none;
}


input.formname{
	background-color: #e5e5e5;
	border: none;
	width:19%;
	height: 7vh;
}

input::-webkit-input-placeholder{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-left: 30px;
}

input.formemail{
	background-color: #e5e5e5;
	border: none;
	width:19%;
	height: 7vh;
	margin-left:4%;
}

input.formmessage{
	background-color: #e5e5e5;
	border: none;
	width: 42.5%;
	height: 20vh;
}

button.formbutton{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	background-color: #ff3b3b;
	border: none;
	width: 42.5%;
	height: 7vh;
}



footer{
	display: flex;
	justify-content: space-between;
	line-height: 95px;
	width: 100vw;
	min-width: 50%;
	height: 85px;
	background-color: #313030;
	color: white;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color: #e0e0e0;
}

.icons img{
	width:25px;
	margin: 0 6px;
}

.icons{
	max-width: 100%;
	min-width: 15%;
	margin-right: 5%;
	line-height: 110px;
}

.copyright{
	max-width: 100%;
	min-width: 50%;
	margin-left: 10%;
}




@media screen and (max-width: 500px) {
    .wrapper {
        justify-content: center;
    }

    p {
	margin-top: 5px;
	}

	h1 {
		margin: 0;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-weight:800;
		font-size: 30px;
	}

	h2{
		margin: 0;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-weight:700;
		font-size: 26px;
	}

	h3{
		margin: 0;
		font-family: 'Open Sans', sans-serif;
		font-weight:600;
		font-size: 18px;
		margin: 3% 0;
	}

    nav {
    	width: 100%;
    	min-width: 20%;
    	justify-content: flex-start;
		font-size: 10px;
	}

	.button {
	width: 25%;
	}


	.left {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 45px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	max-width: 100%;
	min-width: 100%;
	}

	.contactbutton {
	width:150px;
	height: 50px;
	background-color: #ff2d2d;
	text-align: center;
	font-weight: 700;
	color: white;
	margin-top: 8%;
	margin-left: 27%;
	}

	.right {
	display: flex;
	min-width: 45%;
	text-align: center;
	padding-top: 60px;
	}

	.right img{
		width:80%;
	}

	footer{
	line-height: 70px;
	height: 60px;
	font-size: 9px;
	}

	.icons img{
	width:20px;
	margin: 0 6px;
	}

	.icons{
	max-width: 100%;
	min-width: 15%;
	margin-right: 5%;
	line-height: 80px;
	}

	.provide{
	width: 66%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top:5%;
	color: #333333;
}

.leftprovide{
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	max-width: 50%;
}	

.leftprovide h2{
	margin-bottom:5%;
}


.learnmorebutton {
	width: 50%;
	height: 5%;
	text-align: center;
	line-height: 40px;
	font-weight: 700;
	color: #ff2d2d;
	margin: 0;
	margin-top: 15%;
	border: 2px solid #ff2d2d;
}

.learnmorebutton:hover {
	background-color: #dadada;
}

.learnmorebutton a {
	color: #ff2d2d;
	text-decoration: none;
}

.rightprovide {
	margin-left:1%;
	display: flex;
	flex-direction: column;
	min-width: 37%;
	max-width: 49%;
	text-align: left;
	padding-top: 1%;
}

.rightprovide img{
	margin-bottom:2%;
}

.firstrow{
	display: flex;
	font-size: 12px;
}

.secondrow{
	margin-top: 5%;
	display: flex;
	font-size: 12px;
}

.management{
	margin-right:7%;
}

.branding{
	margin-right:7%;
	margin-top:2%;
}

.animation{
	margin-top:2%;
}

.featuring{
	color: #333333;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.featuring hr{
	width:7%;
	background-color: #ff2d2d;
	color: #ff2d2d;
	height: 2px;
	border: none;
	margin: 1.5% auto;
}

.menufeat{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	width:100%;
	text-transform: uppercase;
	font-weight: 700;
	color: #4c4c4c;
	margin-top: 3.5%;
	text-align: center;
	margin-bottom: 2.7%; 
}

.menufeat a{
	text-decoration: none;
	color: #4c4c4c;
	margin: auto 1%;
}

.menufeat a:hover{
	text-decoration: none;
	color: #ff2d2d;
}

.featpictures{
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.firstpicrow{
	display: flex;
	margin-left: 15%;
}

.secondpicrow{
	display: flex;
	margin-left: 15%;
}

.featpictures img{
	margin: 1% 1%;
	width:18%;
}

.team{
	margin-top: 4%;
	margin-left:15.5%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #333333;
}

.team p{
	margin-left:1%;
}

.team hr{
	margin-top: 2.7%;
	margin-left: 1%;
	width:8%;
	background-color: #ff2d2d;
	color: #ff2d2d;
	height: 2px;
	border: none;
}

.allaboutemployee{
	display: flex;
	margin-left: -1%;
	margin-top: -2%;
}

.infoemployee{
	display: flex;
	flex-direction: column;
	margin-left: 10%
	margin-bottom: 18%;
}

.textemployee{
		margin-left: 0;
}

.infoemployee a{
	text-decoration: none;
	color: #4c4c4c;
	margin: auto 1%;
	font-weight: 700;
	font-style: italic;
	font-size: 18px;
}

.avatar{
	width: 50%;
}

.photos{
	margin-top: 5%;
}

.photos img{
	display: none;
	width:17%;
}

.trapforusers{
	background-color: #f5f0dd;
	height:20%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color:white;
	text-align: center;
	margin-top: 5%;
}

.trapforusers h2{
	text-transform: none;
}

.form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:100%;
	margin-bottom: 7%;
	margin-top: 3%;
}

.email {
	width:40%;
	height: 4vh;
	background-color: #ffffff;
	text-align: left;
	line-height: 40px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	color: black;
	margin-left: 28%;

}

.subscribe {
	width:20%;
	height: 4vh;
	background-color: #ff2d2d;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	line-height: 40px;
	font-weight: 700;
	color: white;
	margin-left: -28%;
}

.getintouch{
	margin-top: 4%;
	margin-left:15.5%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #333333;
}
.getintouch hr{
	margin-top: 2.7%;
	margin-left: 0;
	width:8%;
	background-color: #ff2d2d;
	color: #ff2d2d;
	height: 2px;
	border: none;
}

.getintouch img{
	width:100%;
	margin-left: -11%;
}
}